body.light {
    background-color: #d4d3d3;
    color: #444343;
}

body.dark {
    background-color: #373737;
    color: #b0acac;
}

body.blue {
    background-color: #273a80;
    color: #8583bc;
}

body {
    background-color: #fff;
}